/**************************************************HEADER**************************************************/

#me {
    padding-top: 40px;
    background: black;
    margin: 0;
    width: 100%;
    /*z-index: 0;*/
}

.mePhoto {
    order: 1;
    object-fit: contain;
}



.titleGen {
    position: relative;
    margin-top: 100px;
    right: 6%;
    font-size: 70px;
    text-transform: uppercase;
    z-index: 1;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.267);
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

@media (max-width: 487px) {
    .titleGen {
        display: none !important;
    }
    #me {
        padding-top: 0;
    }
}

.meText {
    position: relative;
    margin-top: 20px;
    right: 6%;
    color: rgb(255, 255, 255);
    text-align: right;
    width: 100%;
    height: 200px;
    order: 2;
}

.meText h1 {
    font-size: 30px;
}

.meText h5 {
    font-size: 20px;
    color: rgb(143, 143, 143);
}

.meText h5 a {
    color: #5582a5;
}

.meText h5 a:hover {
    text-decoration: none;
}

.conteneurLiencv {
    margin-top: 30px;
}

.liencv {
    color: rgba(255, 255, 255, 0.486);
    text-decoration: none;
    padding: 10px;
    border: solid 2px rgba(255, 255, 255, 0.61);
    margin-top: 20px;
    border-radius: 5px;
}

.liencv:hover {
    color: white;
    border: solid 2px white;
    text-decoration: none;
}

@media(max-width: 992px) {
    .titleGen {
        margin-top: 20px;
        right: 0%;
    }
    .meText {
        order: 1;
        text-align: center;
        right: 0%;
    }
    .mePhoto {
        order: 2;
        text-align: center;
    }
    #myPhoto {
        width: 100%;
    }
}
