body {
    margin: 0;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.title span {
    border-bottom: 3px solid #ffffff;
    border-image: linear-gradient(to right, black, white) 1;
}

/**********************NAVBAR**********************************/

nav {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.topnav {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.800);
    display: flex;
    justify-content: center;
    backdrop-filter: blur(5px) contrast(.8);
    padding: 25px;
}



.paddingMin {
    padding: 5px;
    animation-duration: 1s;
    animation-name: paddingMin;
    animation-direction: alternate;
}
@keyframes paddingMin {
    from {
        padding: 25px;
    }
    to {
        padding: 5px;
    }
}

.paddingMax {
    padding: 25px;
    animation-duration: 1s;
    animation-name: paddingMax;
    animation-direction: alternate;
}
@keyframes paddingMax {
    from {
        padding: 5px;
    }
    to {
        padding: 25px;
    }
}


.topnav a {
    float: left;
    display: block;
    color: rgb(150, 150, 150);
    text-decoration: none !important;
    font-size: 21px;
    padding: 0px 26px;
}

.topnav a:hover {
    color: white;
}

.topnav a.active {
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 750px) {
    .topnav {
        justify-content: space-between;
    }
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        display: block;
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .btn {
        display: block;
        height: auto;
    }
}

/**********************ME**********************************/

#me {
    padding-top: 40px;
    background: black;
    position: relative;
    z-index: 0;
}

#myPhoto {
    width: 60%;
    height: auto;
}

.meText {
    position: absolute;
    color: white;
    text-align: right;
    top: 50%;
    right: 150px;
    width: 50vw;
}

.meText h1 {
    font-size: 2vw;
}

.meText h4 {
    font-size: 2vw;
}

#logoLinkedin {
    width: 3vw;
}

/**********************about**************************/

#about {
    margin: 2vw auto;
    width: 80%;
}

/**********************Carousel**************************/

.mySlides {
    display: none;
    flex-grow: 1;
}

img {
    vertical-align: middle;
}

/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    width: 350px;
}

/* Next & previous buttons */

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/2 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .prev, .next, .text {
        font-size: 11px
    }
}

.logoSkills {
    height: 7vw;
    width: auto;
}